@import "~antd/dist/antd.less";
@import "./antd-custom.less";
@import "./fonts.less";

body {
    font-family: 'pridi';
}

.img-fluid {
max-width: 100%;
height: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}


.container {
    // width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    background-color: red;
    margin-left: auto;
}